html {
    background-color: #677d6a;
    display: inline-block;
    color:
    #d6bd98,
    #677d6a,
    #40534c,
    #1a3636
}
body{
    text-align: center;
    width: 1200px;
    height: 800px;
    background-color: #d6bd98;
    padding: 50px 0px 0px;
    display: block grid;

}

h1{
    color:#1a3636;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    
}

a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #677d6a;
    display: inline-block;
    align-items: center;
    padding: 20px;
    
}
a:hover{
        color: black;
}
h3 & p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
