<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>

    <h2>Your Current Library</h2>
    <a href="/books/new">Add New Books</a>
    <ul>
        <% books.forEach(book => { %>
          <li><%= book.title %></li>
          <li><%= book.author.name %></li>
          <li><%= book.author.name %></li>
        <% }); %>
      </ul>
</body>
</html>